
@{
    ViewBag.Title = "FormSearchValue";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<strong>Các bài viết có liên quan tới "@ViewBag.name" mà bạn tìm kiếm</strong>
@if (TempData["info"] != null)
{
    foreach (var item in ((List<WebWiki.MyReference.ThongTin_NguoiDung>)TempData["info"]))
    {
        <div id="itemInfo">
            <a href="@Url.Action("InfoDetail",new { idInfo=item.MaTT})" style="color: black;font-size: 18px;">@item.ChuDeTT</a>
            <span><em>Người đăng: <a href="@Url.Action("ViewPerson",new { idUser=item.MaNguoiDung,name=item.TenNguoiDung})" style="color:black">@item.TenNguoiDung</a>  (@item.NgayTaoTT)</em></span>
            <a href="@Url.Action("InfoDetail",new { idInfo=item.MaTT})">Xem chi tiết</a>
        </div>
    }
}

