
@{
    ViewBag.Title = "ListInfoAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            Information's Admin List  &nbsp; <a class="agile-icon" href="@Url.Action("Information")"><i class="fa fa-plus-circle"></i></a>
        </div>

        <div class="table-responsive">

            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>Title Name</th>
                        <th>Category Name</th>
                        <th>Day Create</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody style="word-break: break-all;">
                    @foreach (var item in ((IEnumerable<WebWiki.MyReference.ThongTin_NguoiDung>)TempData["ad"]))
                    {
                        <tr>
                            <td>@item.ChuDeTT</td>
                            <td>@item.TenDM</td>
                            <th>@item.NgayTaoTT</th>
                            <td>
                                <a href="@Url.Action("DetailInfoAdmin",new { idIF = item.MaTT })" class="active" ui-toggle-class="">
                                    <i class="fa fa-info-circle text-success text-active"></i>&nbsp; &nbsp;
                                </a>
                                <a href="@Url.Action("EditInfo",new { idIF=item.MaTT})" class="active" ui-toggle-class="">
                                    <i class="fa fa-edit text-success text-active"></i>&nbsp; &nbsp;
                                </a>
                                <a href="@Url.Action("DelInfo",new { idIF=item.MaTT})" class="active" ui-toggle-class="">
                                    <i class="fa fa-trash text-danger text"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@if (TempData["rs"] != null)
{
    <script>
        $(function () {
            $("#msgModal").modal("show");
        });
    </script>
    <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin:auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="msgModalLabel" style="width:50%; font-size:20px">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -29px;font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: coral;font-size:18px;">
                    @if (((int)TempData["rs"]) == 1)
                    {
                        <label>Delete Successful!</label>
                    }
                    @if (((int)TempData["rs"]) == 0)
                    {
                        <label>Error!</label>
                    }
                </div>
            </div>
        </div>
    </div>
}

